<div *ngIf="Pelicula" class="container">
  <div
    (click)="goPelicula(peli.id)"
    class="container--card"
    *ngFor="let peli of Pelicula | noImage; let i = index"
  >
    <ng-container *ngIf="peli.poster_path; else elseTemplate">
      <img class="container--card__img" [src]="peli.poster_path" alt="" />
    </ng-container>
    <ng-template #elseTemplate>
      <img class="container--card__img" [src]="peli.backdrop_path" alt="" />
    </ng-template>
    <h4 class="container--card__titulo">{{ peli.title }}</h4>
    <p class="container--card__text">{{ peli.release_date }}</p>
    <div class="container--card__porcentajes" >
      <p >0%</p>
      <p >100%</p>
    </div>
    <div class="container--card__PopularBarra" >
      <div  [ngStyle]="{'width.%': peli.vote_average*10 }"></div>
    </div>
  </div>
</div>
