.container {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    scrollbar-color: rgba($color: #032541, $alpha: .5) rgba($color: #032541, $alpha: .1);
}

.container:hover {
    transition: 1s;
    scrollbar-color: rgba($color: #032541, $alpha: .7) rgba($color: #032541, $alpha: .3);
}

.container::-webkit-scrollbar {
    height: 15px;
    width: 100%;
}

.container::-webkit-scrollbar-thumb {
    background: rgba($color: #032541, $alpha: .5);
    border-radius: 4px;
}

.container::-webkit-scrollbar-thumb:hover {
    transition: 1s;
    background: rgba($color: #032541, $alpha: 1);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
}

.container::-webkit-scrollbar-track {
    // background: #e1e1e1;
    background: rgba($color: #032541, $alpha: .1);
    border-radius: 4px;
}

.container::-webkit-scrollbar-track:hover,
.container::-webkit-scrollbar-track:active {
    transition: 1s;
    background: rgba($color: #032541, $alpha: .3);
}

.container--card {
    height: 90%;
    width: 100%;
    border-radius: 10px;
    margin: 5px 20px;
    box-shadow: 5px 5px 5px 3px rgba($color: #000000, $alpha: .1);
}

.container--card:hover {
    transition: .2s;
    z-index: 2;
    cursor: pointer;
    box-shadow: 10px 10px 5px 3px rgba($color: #000000, $alpha: .2);
}

.container--card__img {
    width: 200px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.container--card__titulo {
    margin: 5px 0px 0px 0px;
    padding: 5px;
    text-align: left;
    font-weight: 600;
    color: black;
}

.container--card__text {
    margin: 5px 0px 0px 0px;
    padding: 5px;
    font-weight: 300;
    text-align: left;
    color: black;
}

.container--card__porcentajes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 2.5%;
    // height: 16px;
}

.container--card__porcentajes p {
    margin: 0%;
    padding: 0%;
}

.container--card__PopularBarra {
    height: 16px;
    width: 90%;
    margin: 0px 2.5%;
    border-radius: 10px;
    background: rgba(235, 235, 235, 0.4);
}

.container--card__PopularBarra div {
    height: 100%;
    border-radius: 10px;
    background: #4BEB12;
}

@media screen and (max-height:999px) {
    .container--card {
        transition: 1s;
        height: 90%;
    }
    .container--card__img {
        width: 220px;
        height: 270px;
    }
}

@media screen and(max-height: 881px) {
    .container--card {
        transition: 1s;
        height: 95%;
    }
}

@media screen and(max-height: 826px) {
    .container--card {
        transition: 1s;
        height: 95%;
    }
    .container--card__img {
        width: 210px;
        height: 260px;
    }
}

// 820
@media screen and (max-height: 820px) {
    .container--card__img {
        width: 190px;
        height: 240px;
    }
}

// 783
@media screen and (max-height: 783px) {
    .container--card__img {
        width: 180px;
        height: 230px;
    }
}
// 737
@media screen and (max-height: 737px){
    .container--card__img {
        width: 200px;
        height: 220px;
    }
}
@media screen and (max-height: 685px){
    .container--card__img {
        width: 200px;
        height: 210px;
    }
}
// 665
@media screen and (max-height: 665px){
    .container--card__img {
        width: 200px;
        height: 200px;
    }
}
