<div *ngIf="Pelicula" class="conCard">
  <div (click)="goPelicula(peli.id)" class="conCard--card" *ngFor="let peli of Pelicula | noImage; let i = index">
    <ng-container *ngIf="peli.poster_path; else elseTemplate">
      <div class="conCard--card__img">
        <img [src]="peli.poster_path" alt="" />
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <div class="conCard--card__img">
        <img [src]="peli.backdrop_path" alt="" />
      </div>
    </ng-template>
    <div class="conCard-info">
      <h4 *ngIf="peli.title.length > 20" class="container--card__titulo">{{ peli.title |titleSize: peli.title.length }}
      </h4>
      <h4 *ngIf="peli.title.length < 20" class="container--card__titulo">{{ peli.title }}</h4>
      <p class="conCard--card__text">{{ peli.release_date }}</p>
      <div class="conCard--card__porcentajes" *ngIf="peli.vote_average !== 0">
        <p>0%</p>
        <p  [ngStyle]="{'left.%':peli.vote_average * 10 }">{{peli.vote_average * 10}}%</p>
      </div>
      <div  *ngIf="peli.vote_average !== 0" class="conCard--card__PopularBarra">
        <div  class="card--puplarBarra__fonfo"></div>
        <div class="card--puplarBarra__verde" [ngStyle]="{ 'width.%': peli.vote_average * 10 }"></div>
      </div>
      <div class="conCard--card__noVoto" *ngIf="peli.vote_average === 0" >
        <p > no hay voto</p>
      </div>
      <p class="conCard--card__textinfo" >*Los pocentajes que se muestran se refieren al total de pesonas que votaron positivamente o negativamente por la pelicula</p>
    </div>
  </div>

  <div class="conCard--card__space" ></div>

</div>
