@import "../Util/variables.scss";

.conCard {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  overflow: auto;
  margin-bottom: 40px;
  @include scrolls;
}
.conCard--card {
  width: auto;
  height: auto;
  margin: 10px;
  border-radius: 6px;
  transition: 0.5s;
  box-shadow: 0px 0px 35px 9px rgba(0, 0, 0, 0.2);
  //horizontal//vertical//blur radius//spreadradius// color
  transform: scale(0.9);
  min-width: 300px;
}
.cardHover {
  &:hover {
    box-shadow: 10px 10px 25px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 1s;
    transform: scale(1);
    margin: 15px;
  }
}

.conCard--card__img {
  width: 100%;
  max-width: 300px;
  height: auto;
  overflow: hidden;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
}
.conCard-info {
  width: 100%;
  height: auto;
  padding: 20px;
}
.container--card__titulo {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}
.conCard--card__text {
  font-size: 25px;
  font-weight: 300;
  margin: 10px 0 0 0;
}

.conCard--card__porcentajes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  p {
    width: auto;
    height: auto;
  }
  @include porcertajeVotos;
}
.conCard--card__PopularBarra {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  height: 20px;
  padding-top: 10px;

  .card--puplarBarra__fonfo,
  .card--puplarBarra__verde {
    height: 20px;
    border-radius: 6px;
    position: absolute;
  }
  .card--puplarBarra__fonfo {
    background-color: rgba(190, 45, 45, 0.5);
    width: 100%;
  }
  .card--puplarBarra__verde {
    background-color: rgb(130, 224, 7);
  }

  p {
    font-size: 16px;
    font-weight: 600;
  }
}
.conCard--card__noVoto {
  @include noVoto;
}

.conCard--card__textinfo {
  color: $colorGrey;
  font-size: 16px;
  margin: 10px 0;
  padding-top: 20px;
}
.conCard--card__space {
  width: 20px;
  margin: auto 25px;
  height: 100%;
  border: 1px solid white;
}
