.container {
    width: 95%;
    height: 200px;
    margin: 2.5%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 1px rgba($color: #000000, $alpha: .1);
}

.container:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px 5px rgba($color: #000000, $alpha: .1);
}

.container__img {
    width: 10%;
    height: 200px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.container--info {
    margin-top: 10px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.container--info p {
    margin: 0px;
    font-size: 20px;
    font-weight: 700;
}

.container--info time {
    margin: 0;
    font-size: 20px;
    color: grey;
}

.container--info blockquote {
    margin: 10px 10px;
}

@media screen and (max-width: 1000px) {
    .container__img {
        width: 14%;
    }
}

@media screen and (max-width: 900px) {
    .container__img {
        width: 17%;
    }
}

// 600
@media screen and (max-width: 600px) {
    .container__img {
        width: 20%;
    }
}
@media screen and (max-width: 500px) {
    .container__img {
        width: 20%;
    }
}
// 400
@media screen and (max-width: 400px) {
    .container__img {
        width: 30%;
    }
    .container--info blockquote {
        // margin: 10px 10px;
        display: none;
    }
    .container--info {
        text-align: center;
    }
}