<ng-container *ngIf="pelicula; else elseTemplate">
  <section   class="container">
    <div class="container--cja" > 
      <img class="container--cja__img" [src]="pelicula.poster_path" alt="" />
        <a class="container--cja__btn" [href]="pelicula.homepage" target="_blank" rel="noopener noreferrer">pagina del film</a>
    </div>
    <article class="container--info" >
      <div class="container--info__titulo" >
        <h3 >{{ pelicula["title"] }}</h3>
        <time >({{ pelicula.release_date | date: 'yyyy' }}) </time>
      </div>
      <div class="container--info__extra" >
        <time class="info--extra__date" >{{ pelicula.release_date }}</time>
        <small class="info--extra__idioma" >({{ pelicula.original_language | uppercase }})</small>
        <ul class="info--extra__generos" >
          <li *ngFor="let genero of pelicula.genres; let i = index">
            {{ genero.name }}
          </li>
        </ul>
        <time class="container--info__duracion" >{{ pelicula.runtime }}: Minutos</time>
      </div>
      <cite class="container--info__cite" >{{ pelicula.tagline }} </cite>
      <p class="container--info__status" >Estado: {{ pelicula.status }} </p>
      <P class="container--info__rtitulo" > resumen </P>
      <blockquote class="container--info__resumen" >{{ pelicula.overview }}</blockquote>
      <div class="container--info__costos" >
        <p>presupuesto: {{pelicula.budget |currency }}  </p>
        <p>Ingresos: {{pelicula.revenue |currency }} </p>
      </div>      
      <div class="container--info__popular" >
        <p>calficacion:</p>
        <div class="container--info__porcentajes" >
          <p >0%</p>
          <p >100%</p>
        </div>
        <div class="container--info__PopularBarra" >
          <div  [ngStyle]="{'width.%': pelicula.vote_average*10 }"></div>
        </div>
      </div>
      <div class="container--info__costos" >
        <p>Total votos: {{pelicula.vote_count |number }}</p>
        <p> pupular {{pelicula.popularity}} </p>
      </div>
    </article>
    <section class="container--moreinfo" >
      <h3> Más informacion </h3>
      <h4> Compañías de producción </h4>
      <div class="container--moreinfo__production_companies" >
        
        <div *ngFor="let companies of pelicula.production_companies"  class="moreinfo--production_companies__card"  >
            <img [src]="companies.logo_path | noLogo " alt="logo">
            <p>{{ companies.name }}</p>
        </div>
      </div>
    </section>
  </section>
</ng-container>
<ng-template #elseTemplate>
  <p>esta cargando</p>
</ng-template>
