.container {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

.container--cja {
  margin-top: 5%;
  margin-left: 5%;
  width: 90%;
  height: 95%;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  border-radius: 10px;
}

.container--cja__img {
  width: 100%;
  height: 90%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: -5px;
}

.container--cja__btn {
  width: 100%;
  height: 5%;
  margin: 0px;
  padding: 5% 0;
  font-size: 20px;
  display: block;
  background-color: #032541;
  color: white;
  text-align: center;
  text-decoration: none;
  color: white;
  cursor: pointer;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.container--info {
  margin-top: 7%;
  width: 100%;
  height: 85%;
}

.container--info__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 25px;
  margin-left: 40px;
}

.container--info__titulo h3,
time {
  margin: 10px 5px;
}

.container--info__titulo time {
  font-weight: 200;
  color: #B9BBB9;
}

.container--info__extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: 40px;
}

.info--extra__date {
  font-weight: 600;
}

.info--extra__idioma {
  margin-bottom: 5px;
  font-weight: 200;
}

.info--extra__idioma::after {
  content: '*';
}

.info--extra__generos {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 2px;
  width: auto;
}

.info--extra__generos::after {
  content: '*';
}

.info--extra__generos li {
  margin-left: 5px;
  margin-right: 5px;
  list-style: none;
}

.container--info__duracion {
  padding: 0 2px;
}

.container--info__cite {
  font-size: 16px;
  margin-left: 40px;
}

.container--info__status {
  font-size: 16px;
  font-weight: 400;
  margin-left: 40px;
}

.container--info__rtitulo {
  margin-left: 40px;
  font-size: 20px;
  font-weight: 700;
}

.container--info__resumen {
  font-size: 16px;
  font-weight: 400;
}

.container--info__costos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  margin-left: 40px;
}

.container--info__costos p {
  margin-right: 10%;
}

.container--info__popular {
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container--info__popular p {
  margin: 2px;
  font-weight: 500;
}

.container--info__porcentajes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container--info__PopularBarra {
  height: 35px;
  width: 100%;
  border-radius: 10px;
  background: rgba(235, 235, 235, 0.4);
}

.container--info__PopularBarra div {
  height: 100%;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#abe98f), color-stop(#9ee380), color-stop(#92de70), color-stop(#85d860), to(#77d24f));
  background-image: linear-gradient(to right, #abe98f, #9ee380, #92de70, #85d860, #77d24f);
}

.container--moreinfo {
  background: rgba(235, 235, 235, 0.3);
  border-radius: 10px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  width: 95%;
  height: 90%;
  margin: 2.5%;
  -ms-grid-column-align: center;
      justify-self: center;
}

.container--moreinfo h3 {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

.container--moreinfo h4 {
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  margin-left: 5%;
}

.container--moreinfo__production_companies {
  width: 90%;
  height: 70%;
  margin: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
}

.moreinfo--production_companies__card {
  width: 30%;
  height: 90%;
  border-radius: 10px;
  margin: 15px;
}

.moreinfo--production_companies__card img {
  padding: 5px;
  width: 200px;
  height: 200px;
  border-radius: 10px 10px 10px 10px;
}

.container--moreinfo__production_companies::-webkit-scrollbar {
  height: 15px;
  width: 90%;
  margin: 0px 2.5%;
}

.container--moreinfo__production_companies::-webkit-scrollbar-thumb {
  background: rgba(3, 37, 65, 0.5);
  border-radius: 4px;
}

.container--moreinfo__production_companies::-webkit-scrollbar-thumb:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background: #032541;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
}

.container--moreinfo__production_companies::-webkit-scrollbar-track {
  background: rgba(3, 37, 65, 0.1);
  border-radius: 4px;
}

.container--moreinfo__production_companies::-webkit-scrollbar-track:hover,
.container--moreinfo__production_companies::-webkit-scrollbar-track:active {
  -webkit-transition: 1s;
  transition: 1s;
  background: rgba(3, 37, 65, 0.3);
}
/*# sourceMappingURL=pelicula.component.css.map */