.conBus{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.conBus--buscardor{
width: 100%;
height: auto;
margin: 10px 0;
display: inline-flex;
justify-content: center;
}
.container--buscador__formulario{
  padding: 30px;
  background-color: rgba(100, 100, 100,.3);
  border-radius: 6px;
  width: 80%;
  height: auto;
  margin: 0 auto;
}
.buscador--formulario__input{
  width: 100%;
  height: 50px;
  font-size: 20px;
  font-weight: 400;
  padding-left: 10px;
  border-radius: 6px;
  outline: none;
  border: none;
  letter-spacing: 1px;
}

@import '../components/search-cards.scss';
