@import '../Util/variables.scss';

.conpeli{
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 30px;
  padding: 20px;
}
.conpeli--info__poster{
  width: 100%;
  height: auto;
  max-width: 400px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin: auto;
  a{
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color:white;
    font-size: 20px;
    box-sizing: border-box;
    background-color: $azulBase;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 20px;
    cursor: pointer;
  }
}

.info--poster__img{
  width: 100%;
  height: auto;
  max-height: 600px;
  overflow: hidden;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
.conpeli--info__articulo{
  width: 90%;
  height: auto;
  max-width: 830px;
  margin: auto;
  padding: 20px;
  @media screen and (max-width: 1024px) {
    padding: 20px 0;

  }
}

.info--articulo__titulos{
  width: 100%;
  height: auto;
  h3{
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    font-size: 35px;
    color: black;
    font-weight: 700;
    box-sizing: border-box;
    flex-flow: row wrap;
  }
  time{
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    text-align: end;
    margin: 0;
  }
}

.conpeli--info__descricion{
  display: flex;
  flex-flow: row wrap;
  width: 95%;
  height: auto;
  margin: 10px auto 10px 0;
  color: $colorGrey;
  font-size: 20px;
  box-sizing: border-box;
  padding: 10px 10px 10px 0;
  justify-content: flex-start;
}
.info--descricion__generos{
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  width: 300px;
  height: auto;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  li{
    margin: auto;
  }
}

.info--descricion__status{
  margin: 0;
  padding: 0;
}

.conpeli--info__cite{
  font-size: 20px;
  margin: 10px auto;
  font-weight: 500;
  display: block;
  box-sizing: border-box;
}

.conpeli--info__titulo{
  display: none;
}
.conpeli--info__resumen{
  margin: 10px auto 10px 0;
  font-size: 20px;
  color:$colorGrey;
  line-height: 30px;
}
.conpeli--info__costos{
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  margin: 10px auto;
  p{
    width: min-content;
    margin: 0%;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
  }
}
.conpeli--info__popular{
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  >p{
    font-size: 20px;
    color: black;
    font-weight: 500;
    margin: 0;
    &::first-letter{
      text-transform: uppercase;
    }
  }
}
.info__popular__porcentajes{
  display: flex;
  flex-flow: row wrap;
  height: auto;
  width: 100%;
  justify-content:  space-between;
  position: relative;
  @include porcertajeVotos;

}

.info--popular__PopularBarra{
  width: 100%;
  height: 60px;
  padding: 10px 0;
  position: relative;
  margin-top: 10px;
}
.barra--votos, .fondo--votos{
    width: 100%;
  height: 40px;
  border-radius:6px;
  position: absolute;
}
.barra--votos{
  background-color: $positivoBarra;
  z-index: 3;

}
.fondo--votos{
z-index: 1;
  background-color: $fondoBarra;
}

.info--votos__no{
  @include noVoto;
}

.container--info__costos{
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 0;
  p{
    padding: 0;
    font-size: 20px;
    font-weight: 300;
    color:$colorGrey;
    text-transform: lowercase;
    &::first-letter{
      text-transform: uppercase
    }
  }
}

.container--moreinfo{
  display: flex;
  flex-flow: column wrap;
  margin: 0 0 50px 0;
  padding: 35px;
  width: 100%;
  height: auto;
  h3{
    font-size: 30px;
    color: black;
    margin: 15px auto 10px;
    font-weight: 700;
  }
  h4{
    color: $colorGrey;
    font-size: 20px;
    font-weight: 500;
    padding-left: 25px;
  }

}

.container--moreinfo__production_companies{
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  overflow: auto;
  @include scrolls;
  margin-bottom: 40px;
}
.moreinfo--production_companies__card{
  margin: 25px;
    width: 100%;
    max-width: 300px;
    height: auto;
    min-height: 200px;
    padding: 10px;

  p{
    margin: 0;
    width: 100%;
    height: auto;
    font-size: 20px;
    padding: 10px;
    text-align: center;
  }
}
.production--companies__cardIMG{
  width: 260px;
  height: auto;
  overflow: hidden;
  img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
