<section class="conHome">
  <header class="conHome__header">
    <div  class="conHome--header__img">
    <!--dev -->
    <!-- <img src="../../../assets/img/header.jpg" alt="header"> -->
    <!-- product -->
    <img src="assets/img/header.jpg" alt="header">
    </div>
    <div class="conHome--header__title" >
    <h2>Bienvenidos.</h2>
    <p>Millones de peliculas. Explora ahora.</p>
    </div>
  </header>
  <ng-container *ngIf="!cargado.Cartelera && !cargado.Populares && !cargado.PopularesInfantiles ; else elseTemplate">
  <!-- <ng-container *ngIf="false ; else elseTemplate"> -->
    <div class="conHome__cartelera" name="cartelera">
    <h3 class="home--cartalera__subtitle">Peliculas en cartelera</h3>
    <app-card class="home--cartalera__card" [Pelicula]="Pcartelera"></app-card>
  </div>

  <div class="conHome__populares" name="populares">
    <h3 class="home--populares__subtitle">Peliculas mas populares</h3>
    <app-card  class="home--populares__card" [Pelicula]="Ppopulares"></app-card>
  </div>
  <div class="conHome__popularesInfatiles" name="popularesInfatiles">
    <h3 class="home--cpopularesInfatiles__subtitle">Las peliuclas infantiles mas populares</h3>
    <app-card class="home--popularesInfatiles__card" [Pelicula]="PpopuInfatiles"></app-card>
  </div>
  </ng-container>
  <ng-template #elseTemplate>
    <!-- <app-loading *ngIf="cargado.Cartelera && cargado.Populares && cargado.PopularesInfantiles" ></app-loading> -->
    <app-loading  class="container--card__alert" ></app-loading>
    <app-error *ngIf="cargado.error" ></app-error>
    <!-- <app-error class="container--card__alert" ></app-error> -->
  </ng-template>
</section>
