.container-home {
  height: 250%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 15% (28.3%)[3];
      grid-template-rows: 15% repeat(3, 28.3%);
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  row-gap: 1%;
      grid-template-areas: 'titulo' 'cartelera' 'populares' 'popularesInfatiles';
}

.container-home__header {
  width: 100%;
  height: 100%;
  background-position: center;
  background-image: url("../../../assets/img/header.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.container-home__header h2 {
  margin: 0 5%;
  padding: 0px;
  color: white;
  font-size: 45px;
}

.container-home__header p {
  margin: 2% 5%;
  color: white;
  font-size: 26px;
}

.container-home__cartelera {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: cartelera;
  width: 99%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-home__populares {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: populares;
  width: 99%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-home__popularesInfatiles {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: popularesInfatiles;
  width: 99%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home--cartalera__card,
.home--populares__card,
.home--popularesInfatiles__card {
  height: 80%;
}

.home--cartalera__subtitle,
.home--populares__subtitle,
.home--cpopularesInfatiles__subtitle {
  height: 10%;
  width: 40%;
  margin: 1% 4%;
  padding-top: 20px;
  color: black;
  font-weight: 600;
  font-size: 30px;
  text-align: left;
}

@media screen and (max-height: 999px) {
  .home--cartalera__card,
  .home--populares__card,
  .home--popularesInfatiles__card {
    height: 90%;
  }
}

@media screen and (max-height: 881px) {
  .home--cartalera__card,
  .home--populares__card,
  .home--popularesInfatiles__card {
    height: 90%;
  }
  .home--cartalera__subtitle,
  .home--populares__subtitle,
  .home--cpopularesInfatiles__subtitle {
    width: 90%;
  }
}

@media screen and (max-height: 826px) {
  .home--cartalera__card,
  .home--populares__card,
  .home--popularesInfatiles__card {
    height: 90%;
  }
}

@media screen and (max-height: 758px) {
  .home--cartalera__subtitle,
  .home--populares__subtitle,
  .home--cpopularesInfatiles__subtitle {
    height: 7%;
    padding-top: 0px;
    width: 90%;
    font-size: 20px;
  }
}

@media screen and (max-width: 580px) {
  .home--cartalera__subtitle,
  .home--populares__subtitle,
  .home--cpopularesInfatiles__subtitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 387px) {
  .home--cartalera__subtitle,
  .home--populares__subtitle,
  .home--cpopularesInfatiles__subtitle {
    font-size: 16px;
  }
}
/*# sourceMappingURL=home.component.css.map */