/* tamaño normal: 1920x 1080 */

.contenedorNav {
    width: 100%;
    height: 100%;
    background-color: #032541;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contenedorNav--navegacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    justify-content: space-around;
}

.contenedorNav--navegacion img {
    width: 100px;
    height: 100px;
}

.contenedorNav--navegacion__titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* color: linear-gradient(to right, #84cca7, #61c8b6, #37c3c7, #00bcd8, #00b3e5); */
}

.contenedorNav--navegacion__titulo h1 {
    color: white;
    margin: 0px;
    padding-right: 5px;
}

.contenedorNav--navegacion__enlace {
    margin: 0px;
    padding: 0px;
    height: 60px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.contenedorNav--navegacion__enlace:hover {
    animation-duration: 7s;
    border-bottom: white solid 2px;
    border-radius: 2px;
    background-color: rgba(235, 235, 235, 0.2);
}

.Actived {
    border-bottom: white solid 2px;
    border-radius: 2px;
}

.contenedorNav--navegacion__enlace a {
    text-decoration: none;
    color: white;
    /* text-align: center; */
}

.contenedorNav--searchBar {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.contenedorNav--searchBar__form {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchBar--form__text {
    padding: 0px 6px 0px 10px;
    margin-top: 9%;
    height: 70%;
    border: transparent;
    width: 80%;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.contenedorNav--searchBar__form button {
    color: white;
    cursor: pointer;
    height: 70%;
    width: 20%;
    border: none;
    padding: 0px 6px 0px 10px;
    margin-top: 9%;
    background-image: linear-gradient(to right, #84cca7, #61c8b6, #37c3c7, #00bcd8, #00b3e5);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.inputError {
    height: 69%;
    border-bottom:2px solid red;
}

.textError {
    margin: 4% 0 0 0;
    padding: 0px;
    width: 60%;
    color: red;
    text-align: right;
    font-weight: 400;
    text-transform: capitalize;
}


/* fin del tamaño normal */

@media screen and (max-width: 1263px) {
    .contenedorNav--searchBar__form button {
        font-size: 14px;
        width: 22%;
    }
    .contenedorNav--searchBar__form input {
        width: 78%;
        font-size: 14px;
    }
}

@media screen and (max-width: 1190px) {
    .contenedorNav--searchBar {
        width: 40%;
    }
}

@media screen and (max-width: 1046px) {
    .contenedorNav--navegacion__titulo h1 {
        font-size: 16px;
    }
    .contenedorNav--navegacion img {
        width: 90px;
        height: 90px;
    }
    .contenedorNav--navegacion__enlace a {
        font-size: 16px;
    }
}

@media screen and (max-width: 894px) {
    .contenedorNav--navegacion {
        width: 50%;
        padding: 1%;
    }
    .contenedorNav--searchBar {
        padding-left: 5%;
        width: 50%;
    }
    .contenedorNav--searchBar__form button {
        width: 20%;
        padding: 0px 2px;
    }
    .contenedorNav--searchBar__form input {
        width: 60%;
    }
}
@media screen and (max-width: 764px){
    .contenedorNav--navegacion__titulo {
        display: flex;
        flex-direction: column;
    }
    .contenedorNav--navegacion img {
        width: 70px;
        height: 25px;
    }
}

@media screen and (max-width: 576px) {
    .contenedorNav--navegacion{
        width: 100%;
    }
    .contenedorNav--searchBar{
        display: none;
    }

}