<nav class="contenedorNav">
  <li class="contenedorNav--navegacion">
    <div class="contenedorNav--navegacion__titulo">
      <h1>PeliculasApp |</h1>
      <img
        src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg"
        alt="tmtb_logo"
      />
    </div>
    <ul routerLinkActive="Actived" class="contenedorNav--navegacion__enlace">
      <a (click)="navegar('home')" > Home</a>
      <!-- <a routerLink="home" (click)="navegar('home')" > Home</a> -->
    </ul>
    <ul routerLinkActive="Actived" class="contenedorNav--navegacion__enlace">
      <a (click)="navegar('buscador')" > Buscar</a>
      <!-- <a routerLink="buscador" (click)="navegar('buscador')" > Buscar</a> -->
    </ul>
  </li>
  <div *ngIf="!cargaComponent.disintegrates"  class="contenedorNav--searchBar animate__animated  animate__fadeIn ">
    <form
      [formGroup]="formSearch"
      (ngSubmit)="search(formSearch)"
      class="contenedorNav--searchBar__form"
      novalidate
    >
      <input
        formControlName="search"
        type="text"
        placeholder="ingresa tu busqueda"
        [ngClass]="{
          inputError:
            formSearch.controls.search.errors?.required &&
            formSearch.controls.search.touched
        }"
      />
      <button type="submit" [disabled]="formSearch.status === 'INVALID'">
        buscar
        <fa-icon [icon]="iconsS.faSearch"></fa-icon>
      </button>
    </form>

    <span
      *ngIf="
        (formSearch.controls.search.errors?.required &&
          formSearch.controls.search.touched) ||
        formSearch.controls.search.errors?.maxlength
      "
      class="textError animate__animated animate__fadeIn"
      >no se puede realizar la busqueda*</span
    >
  </div>
</nav>
