.container {
    display: grid;
    height: 98%;
    width: 98%;
    margin: 0 1%;

    grid-template-rows: 10% 90%;
}

.container--buscardor {
    width: 99%;
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 2;
    // border: 2px solid black;
}

.container--buscador__formulario {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    height: 70%;
    width: 100%;
    background: rgba(235, 235, 235, 0.5);
    border-radius: 10px;
}

.buscador--formulario__input {
    width: 80%;
    height: 50%;
    padding-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 10px;
    color: grey;
    font-style: italic;
    border: none;
    text-align: center;
}

// .buscador--formulario__btn {
//     background: linear-gradient(to right, #84cca7, #61c8b6, #37c3c7, #00bcd8, #00b3e5);
//     color: white;
//     height: 52%;
//     width: 15%;
//     margin-top: 1%;
//     border: none;
//     border-top-right-radius: 5px;
//     border-bottom-right-radius: 5px;
// }
// container buscados
.container--buscados {
    width: 99%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    // text-align: center;
    // border: 2px solid black;
    overflow-y: scroll;
}

@media screen and (max-width: 880px) {
    .container--buscador__formulario {
        margin: 5px 5%;
        width: 90%;
        height: 70%;
    }
    .buscador--formulario__input {
        width: 90%;
        margin-top: 12px;
    }
}

// 717 heigth
@media screen and (max-height: 712px) {
    .container--buscador__formulario {
        height: 80%;
        margin: 5px 5%;
    }
    .buscador--formulario__input {
        margin-top: 7px;
        height: 65%;
    }
}

@media screen and( max-height: 590px) {
    .buscador--formulario__input {
        font-size: 16px;
        margin: 5px 0;
        height: 70%;
    }
}

@media screen and (max-height: 500px) {
    .container--buscador__formulario {
        height: 90%;
    }
    .buscador--formulario__input {
        margin: 3px;
        height: 80%;
    }
}

@media screen and (max-height: 396px) {
    .container--buscador__formulario {
        height: 100%;
    }
}