.container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 10% 90%;
}
.container--buscardor{
    width: 100%;
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 2;
}
.container--buscador__formulario{
    display: flex;
    justify-content: center;
    margin-top: 2.5%;
    height: 70%;
    width: 100%;
    background: rgba(235, 235, 235, 0.5);

}
.buscador--formulario__input {
    color: grey;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    width: 60%;
    height: 45%;
    padding-left: 10px;
    margin-top: 1%;
    border: none;
}
.buscador--formulario__btn {
    background: linear-gradient(to right, #84cca7, #61c8b6, #37c3c7, #00bcd8, #00b3e5);
    color: white;
    height: 52%;
    width: 15%;
    margin-top: 1%;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

// container buscados
.container--buscados {
    width: 95%;
    height: auto;
    padding: 0px 2.5%;
    display:  flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}