<section class="container">
    <div class="container--buscardor">
        <form #formsearchs="ngForm" [formGroup]="searchform" (ngSubmit)="formsearch(formsearchs.form)" class="container--buscador__formulario">
            <input formControlName="search" class="buscador--formulario__input" type="text" (keyup)="formsearch(formsearchs.form)" placeholder="ingresa tu busqueda" />
            <!-- <button class="buscador--formulario__btn"
                    type="submit" > buscardor
                <fa-icon [icon]="iconS.faSearch" > </fa-icon>
            </button> -->
        </form>
    </div>
    <ng-container *ngIf="!cargaComponente.loading; else elseTemplate">
        <div class="container--buscados">
            <app-search-cards [arraybusqueda]="arrayBuquedas"></app-search-cards>
        </div>
    </ng-container>
    <ng-template #elseTemplate>
        <app-loading [ngStyle]="{'height.%': '44'}" ></app-loading>
    </ng-template>
</section>