<section class="confooter" >
  <p class="confooter--text" >&copy;{{year | date:'yyyy' }} Daniel Prieto Wilches</p>
  <div class="confooter--redes" >
    <a [href]="redes.githud" target="_blank" class="confooter--redes__enlace githud" >githud
      <fa-icon [icon]="iconS.faGithub" ></fa-icon>
    </a>
    <a [href]="redes.linkedin" target="_blank" class="confooter--redes__enlace linkedin" >linkedin
      <fa-icon [icon]="iconS.faLinkedin" ></fa-icon>
    </a>
    <a [href]="redes.instagram" target="_blank" class="confooter--redes__enlace instagram" >instagram
      <fa-icon [icon]="iconS.faInstagram" ></fa-icon>
    </a>
    <a [href]="redes.facebook" target="_blank" class="confooter--redes__enlace facebook" >facebook
      <fa-icon [icon]="iconS.faFacebook" ></fa-icon>
    </a>
  </div>
</section>
